body{
    margin: 0px;
    position:relative;
}
nav{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.home{

    background-color: rgb(66, 131, 252);
    color: white;
    border: none;
    color: white;
    padding: 2vmax 3vmax 2vmax 2vmax;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
section{
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}
.titlu2{
   
    padding: 2vmax 3vmax 2vmax 2vmax;
    
}
.titlu1{
    padding: 2vmax 3vmax 2vmax 2vmax;
    margin-left: 21vmax;
    font-size: 2vmax;
}
.telefon{
    align-items: baseline;
    margin-left: 11vmax;
    padding: 2vmax 3vmax 2vmax 2vmax;
}
main{
    position:relative;
    background-image: url("tech.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    margin-left: 22vmax;
    margin-right:22vmax;
    padding: 15vmax 15vmax 15vmax 15vmax;
    background-size: cover
    
}
.text1{
    position: absolute;
    background-color: blue;
    padding: 0vmax 0vmax 0vmax 1vmax;
    display: flex;
    flex-direction: column;
    max-width:40%;
    color:white;
    top: 20px;
    left: 20px;
    
}
.butonmare{
    position: absolute;
    background-color: blue;
    color:white;
    top: 410px;
    left: 400px;
    padding: 1vmax 4vmax 1vmax 4vmax;
    font-size: 30px;
    cursor: pointer;
   
}
.hr1{
  border-top: 2px dashed white;
}
.row {
    
    display: flex;
  flex-direction: row;
  margin-left: 23%;
  
}
.column{
    float: left;
  width: 22%;
  padding: 0 10px;
  
}
.row::after {
    content: "";
  display: table;
  clear: both;

  flex-direction: row;
  

  
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: justify;
  background-color: #f1f1f1;
  
  
}
.titlu5{
    text-align: center;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
    
}

  

.butonnegru{
   background-color: rgb(59, 59, 59);
    border-style: double;
    border-width: 5px;
    border-color: white;
    padding: 30px 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 30px;
    color: white;

}

.readmore{
    text-align:right;
    color:blue;
    cursor: pointer;


}




.row2 {
    
display: flex;
flex-direction: row;
margin-left: 23%;
margin-right: 23%;
border-top: 2px dashed rgba(0, 0, 0, 0.2);
  
}
.column2{
display: flex;
flex-direction: column;
float: left;
  width: 100%;
 
  
  
}
.row2::after {
    content: "";
  display: table;
  clear: both;
  flex-direction: row;
}
.poze{
   display: flex;
   flex-direction: row;
    background-color: rgb(59, 59, 59);
    border-style: double;
    border-width: 5px;
    border-color: white;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 80px 70px;
 
}
.text2{
  text-align: left;

}
.titlu6{
    border-bottom:2px dashed rgba(0, 0, 0, 0.2);
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    padding:10px;
}
.butoncontinue{
    text-align: right;
    color: blue;
    padding:1px 30px;
    cursor: pointer;
}
.textjos{
    padding:10px;
}
.categories{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
    padding: 20px 90px 20px 10px;
}
.titlu7{
    margin-top: 20px;
    font-size: 20px;
    color:gray;
    border-bottom: 2px dashed gray;
    margin-top: -10%;
}
.linkuri{
   text-decoration-line: underline;
   margin-top: -20%;
}
.card2 {
  
  text-align: justify;
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px dashed gray;
  
}
.card3{
padding:10px ;
margin-left: 60px;
}
.card5{
padding:4px ;
margin-left: 0px;
border-bottom: 2px dashed gray;
}
.column3{

    float:left;
    margin-left:100px;
    padding:50px 50px;
}
.column3{
    display:flex;
    flex-direction: row;
    background-color: rgb(59, 59, 59);
    border-style: double;
    border-width: 5px;
    border-color: white;
    text-align: center;
    font-size: 25px;
    color: white;
    padding: 20px 2px;
    margin-left: 21%;
    margin-right: -18%;
}
.row3{
    margin-left: 20px;
    padding:30px 50px;
    display:flex;
    flex-direction: row;
    
}
.row6{
    display:flex;
 flex-direction: row;
 margin-left:24%;
 margin-right:380px;
 background-color: rgba(39, 157, 253, 0.781);
 padding:10px 10px;
 color:white;
}
.column4{
    display:flex;
    
}
.column5{
    display:flex;
    margin-left:320px;
   
}